wssim/lib/WSDL_Collection/services/WSMuscle.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision: $Id: WSMuscle.wsdl,v 1.4 2008/05/27 09:19:06 franckv Exp $ -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ebi.ac.uk/WSMuscle" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="WSMuscle" targetNamespace="http://www.ebi.ac.uk/WSMuscle">
  <documentation>WSMuscle: multiple sequence alignment using the MUSCLE tool (see http://www.ebi.ac.uk/Tools/webservices/services/muscle)</documentation>
  <types>
    <schema xmlns:tns="http://www.ebi.ac.uk/WSMuscle" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.ebi.ac.uk/WSMuscle">
      <xsd:complexType name="inputParams">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Input parameters for tool, see http://www.ebi.ac.uk/Tools/webservices/services/muscle#inputparams for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="output" type="xsd:string" nillable="true">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Output alignment format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="outputtree" type="xsd:string" nillable="true">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Tree to output.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="maxiters" type="xsd:int" nillable="true">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Maximum number of iterations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="diags" type="xsd:boolean" nillable="true">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Find diagonals.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="email" type="xsd:string" nillable="false">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">User e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="async" type="xsd:boolean" nillable="true">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Asynchronous submission.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="data">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Input data for tool, see http://www.ebi.ac.uk/Tools/webservices/services/muscle#data for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Input data type</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="content" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Input data</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofFile">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:WSFile[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:data[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSFile">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Result data type description, see http://www.ebi.ac.uk/Tools/webservices/services/clustalw#wsfile for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Result type name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ext" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">File extension for result type</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
    </schema>
  </types>
  <message name="statusRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="statusResponse">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="resultsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="resultsResponse">
    <part name="results" type="tns:WSArrayofFile"/>
  </message>
  <message name="pollRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="type" type="xsd:string"/>
  </message>
  <message name="pollResponse">
    <part name="output" type="xsd:base64Binary"/>
  </message>
  <message name="runMuscleRequest">
    <part name="params" type="tns:inputParams"/>
    <part name="content" type="tns:WSArrayofData"/>
  </message>
  <message name="runMuscleResponse">
    <part name="jobid" type="xsd:string"/>
  </message>
  <portType name="WSMuscle">
    <operation name="runMuscle" parameterOrder="params content">
      <documentation>Submit a MUSCLE analysis job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#runmuscle_params_content)</documentation>
      <input name="runMuscleRequest" message="tns:runMuscleRequest"/>
      <output name="runMuscleResponse" message="tns:runMuscleResponse"/>
    </operation>
    <operation name="checkStatus" parameterOrder="jobid">
      <documentation>Get the status of a submited job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#checkstatus_jobid)</documentation>
      <input name="statusRequest" message="tns:statusRequest"/>
      <output name="statusResponse" message="tns:statusResponse"/>
    </operation>
    <operation name="poll" parameterOrder="jobid type">
      <documentation>Get the results of a job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#poll_jobid_type)</documentation>
      <input name="pollRequest" message="tns:pollRequest"/>
      <output name="pollResponse" message="tns:pollResponse"/>
    </operation>
    <operation name="getResults" parameterOrder="jobid">
      <documentation>Get the available result types for a completed job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#getresults_jobid)</documentation>
      <input name="resultsRequest" message="tns:resultsRequest"/>
      <output name="resultsResponse" message="tns:resultsResponse"/>
    </operation>
  </portType>
  <binding name="WSMuscleSoapBinding" type="tns:WSMuscle">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="poll">
      <documentation>Get the results of a job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#poll_jobid_type)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMuscle#poll"/>
      <input name="pollRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </input>
      <output name="pollResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </output>
    </operation>
    <operation name="runMuscle">
      <documentation>Submit a MUSCLE analysis job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#runmuscle_params_content)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMuscle#runMuscle"/>
      <input name="runMuscleRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </input>
      <output name="runMuscleResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </output>
    </operation>
    <operation name="checkStatus">
      <documentation>Get the status of a submited job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#checkstatus_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMuscle#checkStatus"/>
      <input name="statusRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </input>
      <output name="statusResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </output>
    </operation>
    <operation name="getResults">
      <documentation>Get the available result types for a completed job (see http://www.ebi.ac.uk/Tools/webservices/services/muscle#getresults_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMuscle#getResults"/>
      <input name="resultsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </input>
      <output name="resultsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMuscle" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="WSMuscleService">
    <port name="WSMuscle" binding="tns:WSMuscleSoapBinding">
      <soap:address location="http://www.ebi.ac.uk/Tools/es/ws-servers/WSMuscle"/>
    </port>
  </service>
</definitions>
