trunk/wssim/lib/WS2/WS2.7.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!--
This is the seekda cache of the WSDL definition available at http://zvs.deep.ch/ws/ZVSTest2.wsdl.
seekdas cache is a snapshot that we took as we crawled the Web.
The service may have changed since the last crawl.
seekda is neither affiliated with the authors of this service nor responsible for its advertised functionality.

-->


<!-- WSDL file generated by Zend Studio. -->

<definitions name="ZVSTest_1" targetNamespace="urn:ZVSTest_1" xmlns:typens="urn:ZVSTest_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="add">
		<part name="sum1" type="xsd:double"/>
		<part name="sum2" type="xsd:double"/>
	</message>
	<message name="addResponse">
		<part name="addReturn" type="xsd:double"/>
	</message>
	<message name="multiply">
		<part name="mul1" type="xsd:float"/>
		<part name="mul2" type="xsd:float"/>
	</message>
	<message name="multiplyResponse">
		<part name="multiplyReturn" type="xsd:float"/>
	</message>
	<message name="say">
		<part name="something" type="xsd:string"/>
	</message>
	<message name="sayResponse">
		<part name="sayReturn" type="xsd:string"/>
	</message>
	<portType name="ZVSTestSoapClassPortType">
		<operation name="add">
			<documentation>
				adds two integers and returns the result
			</documentation>
			<input message="typens:add"/>
			<output message="typens:addResponse"/>
		</operation>
		<operation name="multiply">
			<documentation>
				multiplys two floats and returns the result
			</documentation>
			<input message="typens:multiply"/>
			<output message="typens:multiplyResponse"/>
		</operation>
		<operation name="say">
			<documentation>
				returns some string
			</documentation>
			<input message="typens:say"/>
			<output message="typens:sayResponse"/>
		</operation>
	</portType>
	<binding name="ZVSTestSoapClassBinding" type="typens:ZVSTestSoapClassPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="add">
			<soap:operation soapAction="urn:ZVSTestSoapClassAction"/>
			<input>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="multiply">
			<soap:operation soapAction="urn:ZVSTestSoapClassAction"/>
			<input>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="say">
			<soap:operation soapAction="urn:ZVSTestSoapClassAction"/>
			<input>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:ZVSTest_1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="ZVSTest_1Service">
		<port name="ZVSTestSoapClassPort" binding="typens:ZVSTestSoapClassBinding">
			<soap:address location="http://zvs.deep.ch/ws/testserver.php"/>
		</port>
	</service>
</definitions>

