trunk/wssim/lib/WS2/WS2.6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://startvbdotnet.com/web/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://startvbdotnet.com/web/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://startvbdotnet.com/web/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapIn">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapIn">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="DivideSoapIn">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="DivideSoapOut">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpGetIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpGetIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DivideHttpGetIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DivideHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpPostIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpPostIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DivideHttpPostIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DivideHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="SampleSoap">
    <wsdl:operation name="Add">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Add numbers</documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Subtract numbers</documentation>
      <wsdl:input message="tns:SubtractSoapIn" />
      <wsdl:output message="tns:SubtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Multiply numbers</documentation>
      <wsdl:input message="tns:MultiplySoapIn" />
      <wsdl:output message="tns:MultiplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Divide numbers</documentation>
      <wsdl:input message="tns:DivideSoapIn" />
      <wsdl:output message="tns:DivideSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SampleHttpGet">
    <wsdl:operation name="Add">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Add numbers</documentation>
      <wsdl:input message="tns:AddHttpGetIn" />
      <wsdl:output message="tns:AddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Subtract numbers</documentation>
      <wsdl:input message="tns:SubtractHttpGetIn" />
      <wsdl:output message="tns:SubtractHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Multiply numbers</documentation>
      <wsdl:input message="tns:MultiplyHttpGetIn" />
      <wsdl:output message="tns:MultiplyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Divide numbers</documentation>
      <wsdl:input message="tns:DivideHttpGetIn" />
      <wsdl:output message="tns:DivideHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SampleHttpPost">
    <wsdl:operation name="Add">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Add numbers</documentation>
      <wsdl:input message="tns:AddHttpPostIn" />
      <wsdl:output message="tns:AddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Subtract numbers</documentation>
      <wsdl:input message="tns:SubtractHttpPostIn" />
      <wsdl:output message="tns:SubtractHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Multiply numbers</documentation>
      <wsdl:input message="tns:MultiplyHttpPostIn" />
      <wsdl:output message="tns:MultiplyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Click to Divide numbers</documentation>
      <wsdl:input message="tns:DivideHttpPostIn" />
      <wsdl:output message="tns:DivideHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleSoap" type="tns:SampleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://startvbdotnet.com/web/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://startvbdotnet.com/web/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://startvbdotnet.com/web/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://startvbdotnet.com/web/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleHttpGet" type="tns:SampleHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <http:operation location="/Subtract" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <http:operation location="/Multiply" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <http:operation location="/Divide" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleHttpPost" type="tns:SampleHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <http:operation location="/Subtract" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <http:operation location="/Multiply" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <http:operation location="/Divide" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sample">
    <wsdl:port name="SampleSoap" binding="tns:SampleSoap">
      <soap:address location="http://startvbdotnet.com/web/sample2.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleHttpGet" binding="tns:SampleHttpGet">
      <http:address location="http://startvbdotnet.com/web/sample2.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleHttpPost" binding="tns:SampleHttpPost">
      <http:address location="http://startvbdotnet.com/web/sample2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>