trunk/wssim/lib/WebContent/WEB-INF/wsit-edu.bis.WebService.WSSIMasService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WSSIMasService" targetNamespace="http://WebService.bis.edu/" xmlns:tns="http://WebService.bis.edu/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="WhatICanDo"/>
    <message name="WhatICanDoResponse"/>
    <message name="GetOperationSimilaritypaires"/>
    <message name="GetOperationSimilaritypairesResponse"/>
    <message name="GetSimilarityScore"/>
    <message name="GetSimilarityScoreResponse"/>
    <portType name="WSSIMasService">
        <operation name="WhatICanDo">
            <input message="tns:WhatICanDo"/>
            <output message="tns:WhatICanDoResponse"/>
        </operation>
        <operation name="GetOperationSimilaritypaires">
            <input message="tns:GetOperationSimilaritypaires"/>
            <output message="tns:GetOperationSimilaritypairesResponse"/>
        </operation>
        <operation name="GetSimilarityScore">
            <input message="tns:GetSimilarityScore"/>
            <output message="tns:GetSimilarityScoreResponse"/>
        </operation>
    </portType>
    <binding name="WSSIMasServicePortBinding" type="tns:WSSIMasService">
        <wsp:PolicyReference URI="#WSSIMasServicePortBindingPolicy"/>
        <operation name="WhatICanDo">
            <input>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOperationSimilaritypaires">
            <input>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetSimilarityScore">
            <input>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#WSSIMasServicePortBinding_WhatICanDo_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="WSSIMasService">
        <port name="WSSIMasServicePort" binding="tns:WSSIMasServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="WSSIMasServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
                <wsam:Addressing wsp:Optional="false"/>
                <wsrm:RMAssertion/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:RequireDerivedKeys/>
                                        <sp:BootstrapPolicy>
                                            <wsp:Policy>
                                                    <sp:AsymmetricBinding>
                                                            <wsp:Policy>
                                                                    <sp:InitiatorToken>
                                                                            <wsp:Policy>
                                                                                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                                                                            <wsp:Policy>
                                                                                                    <sp:WssX509V3Token10/>
                                                                                                </wsp:Policy>
                                                                                        </sp:X509Token>
                                                                                </wsp:Policy>
                                                                        </sp:InitiatorToken>
                                                                        <sp:RecipientToken>
                                                                            <wsp:Policy>
                                                                                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                                                                            <wsp:Policy>
                                                                                                    <sp:WssX509V3Token10/>
                                                                                                        <sp:RequireIssuerSerialReference/>
                                                                                                </wsp:Policy>
                                                                                        </sp:X509Token>
                                                                                </wsp:Policy>
                                                                        </sp:RecipientToken>
                                                                        <sp:Layout>
                                                                            <wsp:Policy>
                                                                                    <sp:Strict/>
                                                                                </wsp:Policy>
                                                                        </sp:Layout>
                                                                        <sp:IncludeTimestamp/>
                                                                        <sp:OnlySignEntireHeadersAndBody/>
                                                                        <sp:AlgorithmSuite>
                                                                            <wsp:Policy>
                                                                                    <sp:Basic128/>
                                                                                </wsp:Policy>
                                                                        </sp:AlgorithmSuite>
                                                                </wsp:Policy>
                                                        </sp:AsymmetricBinding>
                                                <sp:Wss10>
                                                    <wsp:Policy>
                                                            <sp:MustSupportRefIssuerSerial/>
                                                        </wsp:Policy>
                                                </sp:Wss10>
                                                <sp:EncryptedParts>
                                                    <sp:Body/>
                                                </sp:EncryptedParts>
                                                <sp:SignedParts>
                                                    <sp:Body/>
                                                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                </sp:SignedParts>
                                            </wsp:Policy>
                                        </sp:BootstrapPolicy>
                                    </wsp:Policy>
                                </sp:SecureConversationToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                        <sp:MustSupportIssuedTokens/>
                    </wsp:Policy>
                </sp:Trust13>
                <sc:KeyStore wspp:visibility="private" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="WSSIMasServicePortBinding_WhatICanDo_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="WSSIMasServicePortBinding_WhatICanDo_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
