wssim/lib/WS2/WS2.10.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--
This is the seekda cache of the WSDL definition available at http://www.learnasp.com/quickstart/aspplus/samples/services/MathService/VB/MathService.asmx?WSDL.
seekdas cache is a snapshot that we took as we crawled the Web.
The service may have changed since the last crawl.
seekda is neither affiliated with the authors of this service nor responsible for its advertised functionality.

-->

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="float" type="s:float" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapIn">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapIn">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="DivideSoapIn">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="DivideSoapOut">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpGetIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpGetIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="DivideHttpGetIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DivideHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpPostIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubtractHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpPostIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplyHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="DivideHttpPostIn">
    <wsdl:part name="A" type="s:string" />
    <wsdl:part name="B" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DivideHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:portType name="MathServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractSoapIn" />
      <wsdl:output message="tns:SubtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplySoapIn" />
      <wsdl:output message="tns:MultiplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input message="tns:DivideSoapIn" />
      <wsdl:output message="tns:DivideSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MathServiceHttpGet">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddHttpGetIn" />
      <wsdl:output message="tns:AddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractHttpGetIn" />
      <wsdl:output message="tns:SubtractHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplyHttpGetIn" />
      <wsdl:output message="tns:MultiplyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input message="tns:DivideHttpGetIn" />
      <wsdl:output message="tns:DivideHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MathServiceHttpPost">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddHttpPostIn" />
      <wsdl:output message="tns:AddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractHttpPostIn" />
      <wsdl:output message="tns:SubtractHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplyHttpPostIn" />
      <wsdl:output message="tns:MultiplyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input message="tns:DivideHttpPostIn" />
      <wsdl:output message="tns:DivideHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathServiceSoap" type="tns:MathServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://tempuri.org/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathServiceHttpGet" type="tns:MathServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <http:operation location="/Subtract" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <http:operation location="/Multiply" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <http:operation location="/Divide" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathServiceHttpPost" type="tns:MathServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <http:operation location="/Subtract" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <http:operation location="/Multiply" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <http:operation location="/Divide" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="MathServiceSoap" binding="tns:MathServiceSoap">
      <soap:address location="http://www.learnasp.com/quickstart/aspplus/samples/services/MathService/VB/MathService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathServiceHttpGet" binding="tns:MathServiceHttpGet">
      <http:address location="http://www.learnasp.com/quickstart/aspplus/samples/services/MathService/VB/MathService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathServiceHttpPost" binding="tns:MathServiceHttpPost">
      <http:address location="http://www.learnasp.com/quickstart/aspplus/samples/services/MathService/VB/MathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
