wssim/lib/WS2/WS2.12.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
This is the seekda cache of the WSDL definition available at http://soatest.parasoft.com/axis/calculator.wsdl.
seekdas cache is a snapshot that we took as we crawled the Web.
The service may have changed since the last crawl.
seekda is neither affiliated with the authors of this service nor responsible for its advertised functionality.

-->

<wsdl:definitions targetNamespace="http://katze:8080/axis/services/calculator" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://katze:8080/axis/services/calculator" xmlns:intf="http://katze:8080/axis/services/calculator" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="subtractRequest">
    <wsdl:part name="x" type="xsd:float"/>
    <wsdl:part name="y" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="x" type="xsd:float"/>
    <wsdl:part name="y" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="multiplyResponse">
    <wsdl:part name="multiplyReturn" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="addReturn" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="subtractResponse">
    <wsdl:part name="subtractReturn" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="divideRequest">
    <wsdl:part name="numerator" type="xsd:float"/>
    <wsdl:part name="denominator" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part name="divideReturn" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="multiplyRequest">
    <wsdl:part name="x" type="xsd:float"/>
    <wsdl:part name="y" type="xsd:float"/>
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="add" parameterOrder="x y">
      <wsdl:input message="impl:addRequest" name="addRequest"/>
      <wsdl:output message="impl:addResponse" name="addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="divide" parameterOrder="numerator denominator">
      <wsdl:input message="impl:divideRequest" name="divideRequest"/>
      <wsdl:output message="impl:divideResponse" name="divideResponse"/>
    </wsdl:operation>
    <wsdl:operation name="multiply" parameterOrder="x y">
      <wsdl:input message="impl:multiplyRequest" name="multiplyRequest"/>
      <wsdl:output message="impl:multiplyResponse" name="multiplyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subtract" parameterOrder="x y">
      <wsdl:input message="impl:subtractRequest" name="subtractRequest"/>
      <wsdl:output message="impl:subtractResponse" name="subtractResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculatorSoapBinding" type="impl:Calculator">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://calculator.examples.soap.webtool" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://katze:8080/axis/services/calculator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="divideRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://calculator.examples.soap.webtool" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="divideResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://katze:8080/axis/services/calculator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multiplyRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://calculator.examples.soap.webtool" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="multiplyResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://katze:8080/axis/services/calculator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="subtractRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://calculator.examples.soap.webtool" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="subtractResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://katze:8080/axis/services/calculator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">
      <wsdlsoap:address location="http://ws1.parasoft.com:8080/axis/services/calculator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

